@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
    font-weight: 100;
}

body {
    background: linear-gradient(180deg, rgba(83,84,89,1) 0%, rgba(157,157,159,1) 80% , rgba(141,142,145,1)) 100% fixed;
    overflow: hidden;
    font-family: SegoeUI;
}

.view {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(calc(3 + 2), 1fr);
    gap: 18rem;
    margin-left: 3rem;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    height: 100%;
    z-index: 0;
}

.box-1u {
    display: flex;
    background-color: #3C8725;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.box-2u {
    display: flex;
    background-color: #3C8725;
    color: white;
    grid-column: span 2;
    grid-row: span 2;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.box-3u {
    display: flex;
    background-color: #3C8725;
    color: white;
    grid-column: span 3;
    grid-row: span 3;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.box-container {
    height: 30rem;
    width: 60rem;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1.3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.box-container-settings {
    height: 30rem;
    width: 60rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.row1 {
    grid-row: 1;
}

.row2 {
    grid-row: 2;
}

.row3 {
    grid-row: 3;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
}

.col3 {
    grid-column: 3;
}

.col4 {
    grid-column: 4;
}

.selected {
    outline: 10px;
    outline-style: solid;
    outline-color: teal;
    z-index: 1;
    box-shadow: 15px 15px 70px 10px black;
}

.box-subtitle {
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.box-subtitle-img {
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.box-text {
    margin-top: auto;
    color: white;
}

.endcap {
    position: relative;
    display: flex;
    height: 100%;
    width: 4rem;
    grid-column: 5;
}

input {
    z-index: -1;
    opacity: 0;
}

.xbox-dialog-container {
    position: fixed;
    display: flex;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xbox-dialog-header {
    display: flex;
    width: 40%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.xbox-dialog {
    display: flex;
    width: 50%;
    height: 50%;
    background-color: blue;
}

.xbox-dialog-footer {
    display: flex;
    width: 40%;
    height: 5%;
    justify-content: flex-start;
    gap: 5rem;
    align-items: center;
    color: white;
}

.pages {
    position: fixed;
    display: flex;
    left: 0;
    top: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 2;
    color: #99999C;
}

.active-page {
    color: white;
}

.home-view-buttons {
    display: flex;
    position: fixed;
    left: 10%;
    bottom: 8%;
    justify-content: flex-start;
    gap: 1rem;
    color: white;
}

.a-button::before {
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    margin-right: 0.3rem;
    border: #649639;
    border-radius: 100%;
    content: "A";
    background-color: #649639;
}

.b-button::before {
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    margin-right: 0.3rem;
    border: #A13A37;
    border-radius: 100%;
    content: "B";
    background-color: #A13A37;
}

.x-button::before {
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    margin-right: 0.3rem;
    border: #306093;
    border-radius: 100%;
    content: "X";
    background-color: #306093;
}

.y-button::before {
    display: inline-flex;
    height: 1.5rem;
    width: 1.5rem;
    justify-content: center;
    margin-right: 0.3rem;
    border: #C78931;
    border-radius: 100%;
    content: "Y";
    background-color: #C78931;
}